/* td {
  border: solid 2px black;
  margin: 3px;
  padding: 3px;
}
@page {
  margin: 0.3in; 
} */

.content-box {
  background-image: url(https://source.unsplash.com/random/?city,night);
  background-repeat: repeat-y;
  background-position: center;
  background-attachment: fixed;
  background-size: 100%;
}
